<client_id>
<client_secret>
<redirect_uri>
<flask_host>
NOTE: redirect_uri Must me on unique port from flask server, spotipy starts it's own mini server>
      example if sever is on http://127.0.0.1:5000 then redirect uri might be http://127.0.0.1:5555/callback
